{% extends "base/base.html" %}
{% load static %}
{% block content %}

<div class="main__reg__div w-50 d-flex justify-content-center align-items-center m-auto flex-column">
    <a class=" d-flex justify-content-center align-items-center m-auto">
        <img class="w-50 andaal__logo" src="{% static 'base/images/Logo_ANDAAL_final.png' %}" alt="">
    </a>

    <div>
        <h4 class="text-center mb-5">We sent a link on your email - please open the link from email to verify</h4>
        <div class="mt-5 d-flex justify-content-around align-items-center">
            <a href="{% url 'homepage' %}" class="btn btn-danger">Home</a>
            <a href="{% url 'customer:login' %}" class="btn btn-warning">Login</a>
            <a href="{% url 'customer:login' %}" class="btn btn-dark">Register</a>
        </div>
    </div>

</div>
{% endblock %}