{% extends "base/base.html" %}
{% load static %}
{% block title %}ANDAAL - Education{% endblock title %}
{% block content %}


<div class="post__main__div w-75 m-auto text-center">

    <h3 class="my-2 font-bold">{{post.title}}</h3>
    <p class="my-4">{{post.short_description}}</p>
    <img class="w-100 rounded shadow-lg" style="aspect-ratio: 16/9; object-fit: cover;"  src="{{post.cover_image.url}}" class="img-fluid" alt="Responsive image">
    <div class=" small_icons_task_main my-5 d-flex justify-content-around align-items-center ">
        <button class="task yellow__btn p-2 rounded d-flex justify-content-center align-items-center">
            <span class="material-symbols-outlined">
                location_on
            </span>
            <span>{{post.location}}</span>
        </button>
        <button class="task yellow__btn p-2 rounded d-flex justify-content-center align-items-center">
            <span class="material-symbols-outlined">
                calendar_month
            </span>
            <span>{{post.date}}</span>
        </button>
        <button class="task yellow__btn p-2 rounded d-flex justify-content-center align-items-center">
            <span class="material-symbols-outlined">
                link
            </span>
            <a class="url_no_link text-danger" target="_blank" href="{{post.link_to_orignal}}">
                <span> Click here</span>
            </a>
        </button>
    </div>
    <div class="description_post">
        <p>{{post.description}}</p>
    </div>
</div>

{% endblock %}