{% extends "base/base.html" %}
{% load static %}

{% block title %}
{% if "education" in request.path %}
ANDAAL - Education
{% elif "culture" in request.path %}
ANDAAL - Culture
{% endif %}
{% endblock title %}
{% block content %}

<div class="main__div__hp">
    <a class="upper__section__hp" href="{% url 'homepage'%}">
        <img class="andaal__logo" src="{% static 'base/images/Logo_ANDAAL_final.png' %}" alt="">
    </a>
</div>
{% if all_categories %}
<div class="top__nav__menu">
    {% for category in all_categories %}
    {% if category.id == active_category.id %}
    <button class="btn btn-light">{{category.name}}</button>
    {% else %}
    {% if "education" in request.path %}
    <a href="{% url 'education' category.id %}">
        <button class="btn btn-outline-light">{{category.name}}</button>
    </a>
    {% elif "culture" in request.path %}
    <a href="{% url 'culture' category.id %}">
        <button class="btn btn-outline-light">{{category.name}}</button>
    </a>
    {% endif %}
    {% endif %}
    {% endfor %}

</div>
{% endif %}

{% include "base/back_button.html" %}

{% if all_post %}
<div class="d-flex justify-content-center align-items-stretch flex-wrap">
{% for post in all_post %}
<a class="card my-2 w-25 m-auto mx-2 url_no_link" style="min-width: 250px;" {% if "education" in request.path %}
    href="{% url 'education_post' post.id %}" {% elif "culture" in request.path %}
    href="{% url 'culture_post' post.id %}" {% endif %}>
    <img src="{{post.cover_image.url}}" style="aspect-ratio: 16/9; object-fit: cover;" class="card-img-top " alt="...">
    <div class="card-body">
        <h5 class="card-title">{{post.title|slice:"0:50"}}...</h5>
        <p class="card-text">{{post.short_description|slice:"0:50"}}...</p>
        <p class="card-text"><small class="text-body-secondary">{{post.date}}</small></p>
    </div>
</a>
{% endfor %}
</div>
{% endif %}
{% endblock %}