{% load static %}
{% load i18n %}

<footer class="pink__to__top__gradient mt-5 px-5 footer___tag__main">
    <div class="main__footer__on__baseline__main__menu">
        <div class="left__side__footer__main w-25">
            <a href="{% url 'homepage' %}">
                <img class="w-50" src="{% static 'base/images/Logo_ANDAAL_final.png' %}" alt="">
            </a>
            <p>{{ footerdetails.short_description }}</p>
            <ul class="mt-3 list-unstyled">
                <li>
                    <a class="no_underline text-dark" href="mailto:{{ footerdetails.email }}">
                        <i class="fa fa-envelope mx-2"></i>
                        <p style="word-wrap: break-word;">{% trans "Email" %}: {{ footerdetails.email }}</p>
                    </a>
                </li>
                <li>
                    <a class="no_underline text-dark" href="tel:{{ footerdetails.email }}">
                        <i class="fa fa-phone mx-2"></i>
                        {% trans "Tel" %}: {{ footerdetails.phone_number }}
                    </a>
                </li>
            </ul>
        </div>
        {% if main_menus %}
          
        <div class="right__side__footer__main w-25 py-5">
            <ul class="list-unstyled d-flex justify-content-around flex-column align-items-left w-75 my-0 mt-4">
                <h5 class="fw-bold mb-4">{% trans "Pages" %}</h5>
                {% for main_menu in main_menus %}
                {% if main_menu.redirect_to_link %}
                <a href="{{ main_menu.redirect_to_link }}" class="mb-2 cursor-pointer text-muted font-italic no_underline text-dark">{{ main_menu.name }} →</a>
                {% else %}
                <a href="{{ main_menu.category_attached.get_absolute_url }}" class="mb-2 cursor-pointer text-muted font-italic no_underline text-dark">{{ main_menu.name }} →</a>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if important_links %}
        <div class="most__right__side__footer__main w-25 py-5">
            <ul class="list-unstyled d-flex justify-content-around flex-column align-items-left w-75 my-0 mt-4">
                <h5 class="fw-bold mb-4">{% trans "Important Links" %}</h5>
                {% for link in important_links %}
                <a href="{% url 'imp_link' link.id %}" class="mb-2 cursor-pointer text-muted font-italic no_underline text-dark">{{ link.name }} →</a>
                {% endfor %}
                <h5 class="fw-bold my-5">{% trans "Accepted Payment Methods" %}</h5>
                <img class="w-100 rounded shadow-sm" src="{% static 'payment/footerimage.png' %}" alt="">
            </ul>
        </div>
        {% endif %}

    </div>
    <p class="my-0 mt-5 text-center">{% trans "Copyright © 2023 Andaal all rights reserved" %}</p>
</footer>
