{% extends "base/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "ANDAAL - Homepage" %}{% endblock title %}
{% block content %}
<div class="main__div__hp">
    {% comment %}{% include "base/back_button.html" %}{% endcomment %}

    <div class="all__block__middle__main__menu lower__section__all__parts__hp d-flex justify-content-center align-items-center flex-wrap list-unstyled ">
        {% if all_languages %}

        {% for language in all_languages %}
        {% if forloop.counter0|divisibleby:2 %}
        <a href="{% url 'class_categories' language.id %}" class="d-flex justify-content-center align-items-center pink__to__bottom__gradient main__menu__middle__btns {{class_name}} text-dark">{{ language.name }}</a>
        {% else %}
        <a href="{% url 'class_categories' language.id %}" class="d-flex justify-content-center align-items-center yellow__to__bottom__gradient main__menu__middle__btns {{class_name}} text-dark">{{ language.name }}</a>
        {% endif %}
        {% endfor %}

        {% else %}
        <h5 class="d-flex justify-content-center align-items-center main__menu__middle__btns pink__to__top__gradient text-dark">{% trans "NOTHING FOUND!" %}</h5>
      {% endif %}

    </div>
</div>
{% endblock content %}
