{% extends "oscar/checkout/checkout.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Select:" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block payment_details %}
    {% block payment_details_content %}
    <div class="d-flex justify-content-center align-center flex-column">

        <a class="btn btn-sm btn-warning rounded-pill w-50 mt-3 mx-auto p-3" href="{% url 'paypal-redirect' %}">
            <img src="{% static 'payment/paypal_btn.svg' %}" style="margin-right:7px;">
        </a>
        <a href="{% url 'checkout:stripe_payment_details_view' %}" class="btn btn-sm btn-warning rounded-pill w-50 mt-3 mx-auto p-3">
            <img style="width: 65px;" src="{% static 'payment/stripe_btn.png' %}">
        </a>
        <a class="btn btn-sm btn-warning rounded-pill w-50 mt-3 mx-auto p-3 text-primary text-uppercase font-weight-bold lead" href="{% url 'checkout:flutter_wave_payment_detail_input' %}">FlutterFlow</a>
    </div>

    {% endblock payment_details_content %}
{% endblock payment_details %}
