{% extends "oscar/checkout/checkout.html" %}

{% load currency_filters %}
{% load i18n %}
{% load shipping_tags %}

{% block title %}
    {% trans "Shipping method" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=2 %}
{% endblock %}

{% block checkout_title %}{% trans "Shipping method" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block shipping_method %}
<div class="basket-title">
    <div class="row">
        <h4 class="col-sm-8 m-0">{% trans "Method" %}</h4>
        <h4 class="col-sm-3 m-0">{% trans "Cost" %}</h4>
    </div>
</div>

{% if parents_node %}
{% for parent in parents_node %}

{% if forloop.counter0|divisibleby:2%}
<button class="shipping__parent__btns p-2 yellow__to__top__gradient border-0 rounded  mx-auto d-flex align-items-center justify-content-center my-3" data-toggle="modal" data-target="#modalof{{parent.name}}">{{parent.name}}</button>
{% else %}
<button class="shipping__parent__btns p-2 yellow__to__top__gradient border-0 rounded  mx-auto d-flex align-items-center justify-content-center my-3" data-toggle="modal" data-target="#modalof{{parent.name}}">{{parent.name}}</button>

{% endif %}

<div class="modal fade" id="modalof{{parent.name}}" tabindex="-1" role="dialog"
    aria-labelledby="modalof{{parent.name}}Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-100 w-50" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" id="exampleModalLongTitle">{{parent.name}}</h5>
                <button class="btn shadow rounded-pill" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
<!-- <div style="display: none;" class="all_parts" id='{{parent.name}}___{{parent.id}}''> -->
    <div class="modal-body p-5">


    {% if methods %}
    {% for method in methods %}
    {% if method.name in checkpoint_node|dict_key:parent.id %}

    {{basket.owner.address}}
        <div class="basket-items basket-items0">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="">
                    <h4>{{ method.name }}</h4>
                    {% if method.description %}
                        <p>{{ method.description|safe }}</p>
                    {% endif %}
                    {% if method.is_discounted %}
                        <small>
                            {% shipping_charge_discount method basket as discount %}
                            {% blocktrans with amount=discount|currency:basket.currency name=method.discount_name %}
                                This includes a discount of <strong>{{ amount }}</strong> as
                                your basket qualifies for the <strong>{{ name }}</strong> offer.
                            {% endblocktrans %}
                        </small>
                    {% endif %}
                </div>
                <div class="">
                    {% shipping_charge method basket as charge %}
                    {% if charge.is_tax_known %}
                        {{ charge.incl_tax|currency:basket.currency }}
                    {% else %}
                        {{ charge.excl_tax|currency:basket.currency }}
                    {% endif %}
                </div>
                <div class="">
                    <form method="post" action="{% url 'checkout:shipping-method' %}">
                        {% csrf_token %}
                        <input type="hidden" name="method_code" value="{{ method.code }}" />
                        <button type="submit" class="btn btn-lg pink__to__top__gradient rounded-pill border-0 float-right" data-loading-text="{% trans 'Submitting...' %}">{% trans "Select option" %}</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    {% endfor %}





    {% endif %}

    </div>
<!-- </div> -->
</div>
</div>
</div>
<script>
    window.addEventListener('load', function () {

        if (document.getElementsByClassName('basket-items').length === 0){
        console.log("first")
        document.getElementsByClassName('basket-items1')[0].classList.remove('d-none')
        document.getElementsByClassName('basket-items1')[0].classList.add('d-block')
    }
    })

</script>


{% endfor %}

{% else %}

<div class="basket-items1">
    <p class="text-center text-danger my-3">Sorry! The Shipping isn't available for your country.</p>
    <div class="row d-flex justify-content-between align-items-center">
        <button onclick="window.history.back();" class="not_available__shipping font-italic font-bold py-2 px-5 yellow__to__top__gradient border-0 rounded  mx-auto d-flex align-items-center justify-content-center my-3">
            ← <span class="under__text font-italic font-bold mx-2">Not Available</span>
            <span class="under__text2 font-italic font-bold mx-2">Back</span>
        </button>
    </a>
    </div>
</div>

{% endif %}

{% endblock shipping_method %}
