{% load display_tags %}
{% load i18n %}
{% load image_tags %}
{% load reviews_tags %}


{% block product %}
<article class="my-3 cursor-pointer product__card__article py-3 d-flex justify-content-center align-items-center flex-column">
    {% with image=product.primary_image %}
    {% oscar_thumbnail image.original "x155" upscale=False as thumb %}
    <a class="cursor-pointer" >
        <img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="prod__img rounded w-auto mx-auto my-2">
    </a>
    {% endwith %}

    <a class="prod__headline text-dark cursor-pointer h3" href="{{ product.get_absolute_url }}"><span> {% trans product.get_title|truncatewords:4 %}</span></a>
    {% include "oscar/catalogue/partials/stock_record.html" %}
</article>
{% endblock %}
